//COLORS
$color-primary: rgba(43, 42, 51, 1);
$color-secondary: #42414d;
$white: rgb(255, 255, 255);
$bs-primary: rgba(0, 0, 0, 0.24) 0px 3px 8px;

//PADDING
$p-main: 20px 32px 32px;

//HEIGHT LOGO
$h-logo: 82px;

//FONT SIZE
$fs-title-1: 45px;
$fs-title-2: 16px;
$fs-subtitle: 13px;
$fs-input: 15px;

// SIZE OF THE INPUT
$w-input-search: 720px;
$h-input-search: 52px;

//COLOR AND BACKGROUND OF THE INPUT
$c-input: #b1b1bd;
$b-input: #38383d;
$c-primary: #cdcdd4;

//LABEL A OF RECENT ACTIVITY
$a-focus: #45A1FF;

//BORDER RADIUS
$border-radius: 8px