@import './vars';
@import './mixins';

@import './components/btnSettings';
@import './components/containers/_mainContainer.scss';
@import './components/containers/containerSearch';
@import './components/containers/containerDirectAccess';
@import './components/containers/containerRecentActivity';
@import './components/containers/containerMenu';

:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu",
    "Helvetica Neue", sans-serif;
}
body {
  background-color: $color-primary;
  height: 100vh;
  padding: $p-main;
  box-sizing: border-box;
  margin: 0;
  position: relative;
}