@import './vars';
@import './mixins';

@import './components/btnSettings';
@import './components/upMenu';
@import './components/containers/_mainContainer.scss';
@import './components/containers/containerSearch';

@media (max-width: 592px) {
  $h-logo: 64px;
}
:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu",
    "Helvetica Neue", sans-serif;
}
body {
  background-color: $color-primary;
  height: 100vh;
  padding: $p-main;
  box-sizing: border-box;
  margin: 0;
  position: relative;
}
.container__directAccess {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}
.container__directAccess-group {
  display: grid;
  grid-template-columns: repeat(8, 120px);
  .containet_directAccess-item {
    height: 150px;
    border-radius: 8px;
    position: relative;
    display: grid;
    place-content: center;
    place-items: center;
    transition: 0.3s;
    &:hover {
      transition: 0.3s;
      background-color: rgba(56, 56, 61, 0.6);
      .containet_directAccess-item-button {
        opacity: 1;
      }
    }
  }
  .containet_directAccess-item-button {
    @include btn($c: $c-primary);
    position: absolute;
    right: 10px;
    top: 4px;
    font-size: 10px;
    opacity: 0;
  }
  .containet_directAccess-item-content {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4a4a4f;
    border-radius: 8px;
  }
  .containet_directAccess-item-content-image {
    height: 48px;
  }
  .containet_directAccess-item-title {
    color: $c-primary;
    font-size: 12px;
    text-decoration: none;
    padding-top: 10px;
  }
}
.container__recentActivity{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 40px;
  .container__recentActivity-title{
    font-size: 18px;
    font-weight: 600;
    color: $c-input;
  }
  .container__recentActivity-content {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    gap: 20px;
    .container__recentActivity-item {
      height: 180px;
      position: relative;
      text-decoration: none;
      &:hover {
        .container__recentActivity-item-button {
          opacity: 1;
          transition: 0.3s;
          transform: scale(1);
        }
        .container__recentActivity-item-text{
          .container__recentActivity-item-text-title{
            color: $a-focus;
            transition: .1s;
          }
        }
      }
      .container__recentActivity-item-button {
        position: absolute;
        height: 30px;
        width: 30px;
        border-radius: 17.5px;
        top: -15px;
        right: -15px;
        border: 1px solid $c-primary;
        background-color: $color-primary;
        font-size: 12px;
        color: $c-primary;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0);
        transition: 0.3s;
        opacity: 0;
      }
      .container__recentActivity-item-icon {
        position: absolute;
        background-color: $color-secondary;
        top: 100px;
        height: 35px;
        width: 35px;
        border-radius: 17.5px;
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          color: $c-primary;
          font-size: 16px;
        }
      }
      .container__recentActivity-item-image {
        background-position: center;
        background-size: cover;
        height: 115px;
        width: 220px;
        border-radius: 8px 8px 0 0;
      }
      .container__recentActivity-item-text {
        background-color: $color-secondary;
        height: 65px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0 0 8px 8px;
        padding: 0 15px;
        .container__recentActivity-item-text-subtitle {
          font-size: $fs-subtitle;
          color: $c-primary;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .container__recentActivity-item-text-title {
          font-size: $fs-title-2;
          color: $white;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-top: 5px;
          font-weight: 600;
          transition: .1s;
        }
      }
    }
  }
}
