$color-primary: rgba(43, 42, 51, 1);
$color-secondary: #42414d;
$white: rgb(255, 255, 255);
$p-main: 20px 32px 32px;
$h-logo: 82px;
$fs-title-1: 45px;
$fs-title-2: 16px;
$fs-subtitle: 13px;
$fs-input: 15px;
$w-input-search: 720px;
$h-input-search: 52px;
$c-input: #b1b1bd;
$b-input: #38383d;
$c-primary: #cdcdd4;
$bs-primary: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$a-focus: #45A1FF;
@media (max-width: 592px) {
  $h-logo: 64px;
}
:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu",
    "Helvetica Neue", sans-serif;
}
body {
  background-color: $color-primary;
  height: 100vh;
  padding: $p-main;
  box-sizing: border-box;
  margin: 0;
  position: relative;
}
.container__settings {
  position: absolute;
  color: $white;
  background-color: transparent;
  border: none;
  outline: none;
  right: 28px;
  font-size: 16px;
  cursor: pointer;
}
.container__menu-content {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 432.5px;
  background-color: $b-input;
  box-shadow: $bs-primary;
  z-index: 10;
  color: $c-primary;
  box-sizing: border-box;
  padding: 16px;
  display: none;
}
.container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  padding-top: 30px;
  box-sizing: border-box;
}
.container__search {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 50px;
}
.container__search-logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
.container__search-logo-icon {
  height: $h-logo;
}
.container__search-logo-title {
  font-size: $fs-title-1;
  font-weight: 600;
  color: $white;
}
.container__search-content {
  width: $w-input-search;
  height: $h-input-search;
  background-color: $b-input;
  box-shadow: $bs-primary;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 10px;
  box-sizing: border-box;
}
.container__search-content-button {
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  border-radius: 12px;
}
.container__search-content-button-icon {
  height: 18px;
}
.container__search-content-input {
  color: $c-input;
  outline: none;
  border: none;
  font-size: $fs-input;
  width: 100%;
  background-color: transparent;
  font-weight: 100;
}
.container__directAccess {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}
.container__directAccess-group {
  display: grid;
  grid-template-columns: repeat(8, 120px);
  .containet_directAccess-item {
    height: 150px;
    border-radius: 8px;
    position: relative;
    display: grid;
    place-content: center;
    place-items: center;
    transition: 0.3s;
    &:hover {
      transition: 0.3s;
      background-color: rgba(56, 56, 61, 0.6);
      .containet_directAccess-item-button {
        opacity: 1;
      }
    }
  }
  .containet_directAccess-item-button {
    position: absolute;
    right: 10px;
    top: 4px;
    background-color: transparent;
    outline: none;
    border: none;
    color: $c-primary;
    font-size: 10px;
    opacity: 0;
    cursor: pointer;
  }
  .containet_directAccess-item-content {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4a4a4f;
    border-radius: 8px;
  }
  .containet_directAccess-item-content-image {
    height: 48px;
  }
  .containet_directAccess-item-title {
    color: $c-primary;
    font-size: 12px;
    text-decoration: none;
    padding-top: 10px;
  }
}
.container__recentActivity{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 40px;
  .container__recentActivity-title{
    font-size: 18px;
    font-weight: 600;
    color: $c-input;
  }
  .container__recentActivity-content {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    gap: 20px;
    .container__recentActivity-item {
      height: 180px;
      position: relative;
      text-decoration: none;
      &:hover {
        .container__recentActivity-item-button {
          opacity: 1;
          transition: 0.3s;
          transform: scale(1);
        }
        .container__recentActivity-item-text{
          .container__recentActivity-item-text-title{
            color: $a-focus;
            transition: .1s;
          }
        }
      }
      .container__recentActivity-item-button {
        position: absolute;
        height: 30px;
        width: 30px;
        border-radius: 17.5px;
        top: -15px;
        right: -15px;
        border: 1px solid $c-primary;
        background-color: $color-primary;
        font-size: 12px;
        color: $c-primary;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0);
        transition: 0.3s;
        opacity: 0;
      }
      .container__recentActivity-item-icon {
        position: absolute;
        background-color: $color-secondary;
        top: 100px;
        height: 35px;
        width: 35px;
        border-radius: 17.5px;
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          color: $c-primary;
          font-size: 16px;
        }
      }
      .container__recentActivity-item-image {
        background-position: center;
        background-size: cover;
        height: 115px;
        width: 220px;
        border-radius: 8px 8px 0 0;
      }
      .container__recentActivity-item-text {
        background-color: $color-secondary;
        height: 65px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0 0 8px 8px;
        padding: 0 15px;
        .container__recentActivity-item-text-subtitle {
          font-size: $fs-subtitle;
          color: $c-primary;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .container__recentActivity-item-text-title {
          font-size: $fs-title-2;
          color: $white;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-top: 5px;
          font-weight: 600;
          transition: .1s;
        }
      }
    }
  }
}
